body {
    background-color: hsl(13, 31%, 94%);
    font-family: "Red Hat Text", sans-serif;
    margin: 100px 100px;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* When the screen width is smaller than 900px, switch to 2 columns */
@media (max-width: 900px) {
    .App {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart-div {
        width: 100%;
        flex: 2;
    }
}
